.container{
 display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.left-box{
    background-color: #C4C4C4;
    height: 70vh;
    width: 40vh;
    border: 1px solid white;
}
.right-box{
    height: 30vh;
    width: 30vh;
    border: 1px solid white;

}





