.btn{
  background: red;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  padding: 20px ;
  margin: 20px ;
  border-radius: 10px;
  font-weight: bold;
  text-transform: uppercase;
  width: 200px;


  &__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;







  }
}