.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 24px;
}
.section-title{
  color: $main-text-color;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  padding: 52px 0 24px 0;
  text-transform: uppercase;
}