@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

body {
    background-image: url("image/background 1.jpg");
    background-repeat: no-repeat;
    /*width: 1366px;*/
    /*height: 768px;*/
}

.wrapper {
    width: 1023px;
    margin: 51px 178px 0 165px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    text-decoration: none;
    color: white;
    width: 161px;
    font-family: Roboto, sans-serif;
    height: 51px;

}
.header-image{
display: inline-block;
    height: 51px;
}

.header-logo-text-container {
    margin: 0 auto;
}

.header-logo-text-top {
    font-weight: bold;
    font-size: 29px;
    text-decoration: none;

}

.header-logo-text-bottom {
    font-weight: bold;
    font-size: 18px;


}
.header-info-top{
    color: white;
    display: flex;
    align-items: flex-end;
}
.header-info-bottom{
    color: white;
    display: flex;
    justify-content: flex-end;
}
.main-content{
    margin-top: 22px;
}
.main-content-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;

}
.main-content-text{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
    line-height: 18px;
    padding-top: 20px;
    margin-bottom: 37px;

}
.main-content-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
}
.footer-box{
    display: flex;
    justify-content: center;

}
.footer-text{
    color: white;
    font-size: 12px;
    line-height: 12px;
}
.header-logo:hover{
    color: #F26522;
    cursor: pointer;
}
.header-info>p:hover{
    color: #F26522;
    cursor: pointer;

}
.main-content-add-info{
    width: 100%;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 366px;
    transition: 0.8s top,0.99s visibility ;
}
.price-text{
    padding-left: 16px;
}
.price-text-top{
    color: white;
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
}
.price-text-btm{
    color: white;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 12px;
}
.details-text{
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding-left: 128px;
    padding-bottom: 12px;
    padding-right: 16px;
}
.details-text::after{
    content: '>';
    color: white;
    font-size: 16px;
    line-height: 16px;
    padding-left: 16px;

}
.main-content-item{
    position: relative;
    overflow: hidden;
}
.main-content-item:hover .main-content-add-info{
    top: 166px;
}
.main-content-item:hover .main-content-text{
    color: #F26522;
}

