/* Слайдер */
.slick-slider {
    position: relative;
}
/* Ограничивающая оболочка */
.slider-nav .slick-list {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
    padding: 0px 0px !important;
}
/* Лента слайдов */
.slick-track {
    display: flex;
    padding: 10px 10px;
}

.slider-nav {
    position: relative;
}
.slide-nav {
    text-align: center;
}
.slider-nav .slick-arrow {
    position: absolute;
    top: 50%;
    margin: 30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid #BBBBBB;
}
.slide-wrapper .slick-list{
    overflow: hidden;
}
.slider-nav .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/slider/arrowprev.png") 0 0 / 5px no-repeat ;
    background-position: center;
    cursor: pointer;
}

.slider-nav .slick-arrow.slick-next {
    right: 0;
    background: url("../img/slider/arrownext.png") 0 0 / 5px no-repeat;
    background-position: center;
    cursor: pointer;
}
.slider-nav .slick-arrow:hover{
    background-color: #18cfab;
}

/* Слайд */
.slick-slide {
    padding: 10px;
}
.slide-nav {
}

/* Слайд активный (показывается) */
.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {

}

/* Слайд по центру */
.slider-nav .slick-slide.slick-center {
    position: relative;
    top: -15px;
}

/* Клонированный слайд */
.slick-slide.slick-cloned {

}

/* Стрелка */

/* Стрелка влево */
.slick-arrow.slick-prev {
}

/* Стрелка вправо */
.slick-arrow.slick-next {
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки (булиты) */
.slick-dots {
}

.slick-dots li {
}

/* Активная точка */
.slick-dots li.slick-active {
}

/* Элемент точки */
.slick-dots li button {
}
