@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: Montserrat, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1160px;

}
  /*header section*/
.header {
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    min-height: 100%;
}

.header-nav-menu {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-nav-logo-container {
    align-items: center;
    display: flex;
    margin-right: 305px;
    cursor: pointer;

}

.header-logo {
    text-decoration: none;
    cursor: pointer;
}

.logo-text {
    color: white;
    font-size: 32px;
    line-height: 48px;
    margin-left: 6px;

}

.logo-text-highlighted {
    color: #18CFAB;
    font-weight: bold;
}

.nav-list {
    display: flex;
}

.nav-list-text {
    margin-right: 21px;
}

.nav-list-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

.nav-list-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 49px;
}

.search-icon {
    color: white;
}

.header-slogan {
    display: flex;
    text-align: center;
}

.higher-slogan-text {
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    margin-top: 264px;
}

.higher-slogan-text-highlighted {
    color: #18CFAB;
}

.middle-slogan-text {
    color: white;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
}

.lower-slogan-text {
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 134px;
    padding-bottom: 243px;

}

.btn {
    background-color: #18CFAB;
    color: white;
    padding: 16px 18px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 -5px white;

}

.btn-blue {
    background-color: #00CBF6;
    margin-left: 26px;
}
  /*header section*/

  /*service-options section*/
.service-options {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.info-section {
    display: flex;
    background-color: #18CFAB;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.dark-color-info {
    background-color: #1C2A33;
}

.img {
    margin-top: 85px;
}


.service-options-text {
    color: white;
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 58px;
}

.highlighted-text {
    color: #18CFAB;

}

.our-services {
    padding-bottom: 91px;
}

/*service-options section*/

/*title separator*/
.title-separator {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-bottom: 24px;
    padding-bottom: 95px;
    padding-top: 90px;
    text-align: center;
    font-weight: 300;
}

.title-separator:after {
    content: "";
    display: block;
    width: 81px;
    height: 1px;
    box-shadow: 0 3px #18CFAB, -10px -3px #18CFAB;
    margin: 0 auto;
    margin-top: 24px;
}
/*title separator*/

/*Our Services section*/
.tabs-section {
    width: 1160px;
    margin: 0 auto;
}

.tabs-nav {
    display: flex;

}

.tabs-nav-btn {
    margin: 0 auto;
    width: 195px;
    height: 76px;
    font-size: 16px;
    line-height: 39px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
    position: relative;
    color: #717171;
}

.tabs-nav-btn:hover {
    border: 2px solid #18CFAB;
}

.tabs-nav-btn.active {
    background-color: #18CFAB;
    border-color: #18CFAB;
    color: #fff;
}

.tabs__content {
    background-color: #fff;
    max-width: 1160px;
}

.tabs-item {
    display: none;
}
.tabs-nav-btn.active:after {
    content: "";
    display: block;
    position: absolute;
    width: 27px;
    height: 15px;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    background-color: #18CFAB;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.tabs-item.active {
    display: block;
}

.tabs-item-box {
    display: flex;
    height: 136px;
    padding-top: 23px;
}

.tabs-img-box {
    width: 195px;
    height: 139px;
    padding-right: 15px;
}

.tabs-text {
    color: #777777;
    font-size: 14px;
    line-height: 24px;
    margin: 0 auto;
}

.tabs-img {
    width: 195px;
    height: 139px;
}

/*Our Services section*/

/*buy-section*/
.buy-section {
    background-image: url("../img/buy-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.buy-text-box {
    display: block;
    text-align: center;
    justify-content: center;

}

.buy-text-slogan {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    padding-top: 127px;
    color: #18CFAB;
    margin-bottom: 20px;
}

.buy-text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;

}

.buy-btn {
    margin-top: 67px;
    margin-bottom: 127px;
}
/*buy-section*/

/*Our Amazing Work section*/
.our-work-nav {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

}

.our-work-list {
    display: flex;
}
.our-work-tabs-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.tabs-our-work {
    font-size: 16px;
    line-height: 39px;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
    position: relative;
    color: #717171;
    padding: 14px 15px;
}

.tabs-our-work:nth-child(1) {
    padding: 14px 28px;
}

.tabs-our-work:hover {
    border: 2px solid #18CFAB;
    color: #18CFAB;
}
.our-work-tabs-item{
    position: relative;
    width: 283px;
}
.hidden{
    display: none;
}
.overlay-box{
    border-top: 1px solid #18cfab;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #E9EDEF;;
    overflow: hidden;
    width: 284px;
    display: flex;
    height: 0;
    transition: .5s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay-icons-box{
    display: flex;
    margin-bottom: 24px;
}
.overlay-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.overlay-icon-highlighted{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #18CFAB;
    width: 40px;
    height: 40px;
    background-color: #18CFAB;
}
.overlay-title{
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: bold;
}
.overlay-subtitle{
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
}
.our-work-tabs-item:hover .overlay-box{
    height: 100%;
}
.our-work-btn{
    font-weight: bold;
    display: flex;
    margin: 0 auto;
    background: #18CFAB;
    padding: 15px 20px;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 70px;
align-items: center;
}
.plus-icon{
    margin-right: 15px;
    justify-content: center;
    align-items: center;

}
/*Our Amazing Work section*/

/*Breaking News section*/
.news-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-text {
    display: block;
    justify-content: center;
    text-align: start;
    margin-left: 15px;
    padding-bottom: 44px;
}

.text-top {
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}

.text-bottom {
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
}

.separator-text-bottom {
    padding-right: 10px;
    padding-left: 10px;
}

.calendar-box {
    width: 70px;
    height: 70px;
    background-color: #203E38;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.img-box {
    position: relative;
}

.calendar-text-top {
    margin-top: 16px;
    margin-bottom: 12px;
}

.news-posts:hover .calendar-box {
    background-color: #18CFAB;
}

.news-posts:hover .text-top {
    color: #18CFAB;
}

.news {
    padding-bottom: 80px;
}
/*Breaking News section*/

/*slider section*/
.slider-box {
    padding-bottom: 100px;
}

.swiper-wrapper {
    background-image: url("../img/swiper-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    justify-content: center;
}

.swiper-title {
    color: white;
}

.shape {
    display: flex;
    justify-content: center;
}

.slider-text {
    padding: 35px 0 35px 0;
    color: #BBBBBB;
    font-weight: 300;
    line-height: 30px;
    text-align: center;


}

.slider-user-name {
    color: #18cfab;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.slider-user-position {
    font-size: 13px;
    color: #BBBBBB;
    font-weight: 300;
    padding-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.slider-user-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow: 0 0 0 10px rgba(16, 76, 75, 0.50);
    width: 145px;
    height: 145px;
    margin: 0 auto;
}

.slider-nav {
    padding-top: 50px;
    margin: 0 auto;
    width: 483px;
    height: 70px;
}

.slider-nav-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(16, 76, 75, 0.50);
    width: 50px;
    height: 50px;
    margin: 0 auto;
    object-fit: cover;

}
/*slider section*/

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    background-color: #22353F;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    margin-top: 47px;
    margin-bottom: 47px;
}

.footer-text-highlighted {
    color: #18CFAB;
}
/*footer*/