
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.wrapper{
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
.header{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 54px;
}
.header-logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    padding: 18px 0 18px 79px;
    text-decoration: none;
    cursor: pointer;
}
.header-logo:hover{
    color: rgba(1, 129, 63, 1);
}
.header-icons:hover{
    color: rgba(1, 129, 63, 1);
}
.header-text-highlight:hover{
    color: rgba(1, 129, 63, 1);
}
.header-icons> svg:hover{
    color: rgba(1, 129, 63, 1);
}
.icon-calendar:hover{
    fill: rgba(1, 129, 63, 1);
}
.icon-mail:hover{
    fill: rgba(1, 129, 63, 1);
}
.icon-compass:hover{
    fill: rgba(1, 129, 63, 1);
}
.header-text{
   text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 14px;
    padding-right: 79px;
}
.header-icons-text-container{
    display: flex;
    align-items: center;
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons:after {
    content: "";
    width: 1px;
    height: 19px;
    background-color: #FFFFFFE5;
    float: right;
    margin-top: 20px;
    margin-right: 27px;
    margin-bottom: 19px;
    margin-left: 25px;
}
.icon-calendar{
    padding-right: 26px;
}
.icon-mail{
    padding-right: 26px;
}
.main-content-section{
  display: flex;
    justify-content: center;
}
.main-content-container{
    padding: 31px 60px 38px 60px;
    display: flex;
    flex-direction: column;
    background-color: white;

}

.sing-up-form{
    display: flex;
    flex-direction: column;
}
.sign-up-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: 'Ubuntu', sans-serif ;
margin-bottom: 15px;
    position: relative;
}
.sign-up-section-text{

    font-size: 20px;
    line-height: 20px;
    color:#434343;
}
.sign-up-section:before{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    background-color: #3CB878;
    left: -60px;

}
.sign-up-section-link{
text-decoration: none;
    color: #3CB878;
    font-size: 14px;
    line-height: 14px;
}
.sign-up-section-link:hover{
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;

}
.social-media-buttons{
    display: flex;
    justify-content: space-between;
}
.social-media-buttons>:not(:last-child){
    margin-right: 15px;

}
.btn-default{
    background-color: #305DB8;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    padding: 17px 22px 17px 18px;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
    min-width: 160px;
}
.btn-facebook:hover{
    background-color: rgba(2, 34, 99, 1);
}
.btn-google{
    background-color: #DF4A32;
}
.btn-google:hover{
    background-color: rgba(171, 31, 9, 1);
}
.btn-google>.btn-svg{
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    padding-right: 7px;
}
.btn-svg{
    padding-right: 19px;
    border-right: 1px solid  rgba(10, 22, 47, 0.4);
}
.btn-text{
    padding-left: 19px;
}
.separator{
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top: 31px;
    align-items: center;
    margin-bottom: 11px;

}
.separator:before,
.separator:after{
    content: "";
    display: inline-block;
   align-items: center;
    width: 100%;
    height: 1px;
    background-color:#F2F2F2;
    position: relative;
}
.separator:before{
    margin-left: -100%;
    left: -5px;
}
.separator:after{
    margin-right: -100%;
    right: -5px;
}
.sing-up-form{
    display: flex;
    flex-wrap: wrap;
}
.text-input{
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #BEBEBE;
}
.text-input:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
form input[type="text"], form input[type="password"]{
    padding: 16px 0px 16px 20px;
    color:#434343;
    border: solid 1px  #F2F2F2;
    border-radius: 3px;
}
.checkbox-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;

}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-right: 8px;
}
.checkbox:checked+label::before {
    border-color: #F2F2F2;
    background-color: rgba(0, 0, 0, 0.0001);
    background-image: url("../image/check.png");}
.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.checkbox-link{
    font-size: 14px;
    line-height: 14px;
    color:rgba(60, 184, 120, 0.8);
    text-decoration: none;
    margin-left: 2px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.submit-btn{
    background-color:rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 1px solid;
    color: white;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    padding: 16px 99px;
    font-family: 'Ubuntu', sans-serif ;
    cursor: pointer;
}
.checkbox-link:hover{
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}
.submit-btn:hover{
    background-color: rgba(1, 129, 63, 1);
}
