
.header-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: white;
}
.main-header {
    background-image: url("image/Layer 21 1.png");
    height: 900px;
    box-sizing: border-box;
    padding-bottom: 150px;
}
.main-header-slogan {
    width: 833px;
    height: 131px;
    display: flex;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
}
.main-header-slogan-main-part {
    padding: 38px 20px 38px 31px;
    color: #F48E0B;
    font-weight: bold;
    border-right: 1px solid #F48E0B;
}
.main-header-slogan-secondary-part {
    padding: 38px 20px 38px 31px;
    color: white;
    font-weight: bold;
}
.section-title {
    font-size: 22px;
    line-height: 22px;
    /* line-height: 1; */
    font-family: Montserrat;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.about-us-desc {
    font-family: Lato;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 40px;
}
.section-separator {
    margin-bottom: 57px;
    width: 60px;
    height: 3px;
    background: linear-gradient(0deg, #F1AD1D, #F1AD1D),
    linear-gradient(0deg, #F48E0B, #F48E0B);
}
.section {
    text-align: center;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #F48E0B;
}
.nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: Lato;
    font-size: 18px;
}
.nav-items-text {
    margin-right: 70px;
}
.nav-items-text a {
    text-decoration: none;
    color: #3D3D3D;
    text-transform: uppercase;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
.nav-items-text a.selected {
    color: #F1AD1D;
}
.main-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}
.about-us-section {
    margin-top: 150px;
}
.section-main {
    margin-top: 103px;
}
.projects-wrapper {
    display: flex;
}
.projects-links {
    display: flex;
    height: 318px;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.projects-links,
.projects-content {
    width: 50%;
    text-align: left;
}
.projects-link img {
    object-fit: cover;
}
.projects-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 22px;
    margin-top: 0 ;
}
.projects-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.projects-link {
    width: 270px;
    height: 148px;
}
.projects-button{
    background-color:  #F1AD1D;
    border: none;
    color: white;
    padding: 19px 27px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;

}
.projects-title-highlighted{
    color: #F1AD1D;
}
.we-change-section{
    background-image: url("image/back.png");
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 116px;
}
.we-change-title{
    color: white;
    margin-bottom: 59px;

}
.team-items{
    width: 197px;
    height: 178px;
    border: 1px solid white;
}
.team-items image{
    object-fit: cover;
    width: 100%;
}
.team-members-list{
    display: flex;
    flex-wrap: wrap;
}
.team-section-description{
    margin-bottom: 55px;
}
.team-section{
    padding-bottom: 207px;
}
.services-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    column-gap: 38px;

}
.service-item h3{
    background-color:  #333333;
    color: white ;
    height: 56px;
    line-height: 56px;

}
.service-item-icon{
    margin: 30px auto 31px;

}
.service-info{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px

}
.our-offers{
font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #505050;

}
.section-main-img{
    margin-top: 57px;
}
.mt-24{
    margin-top: 24px;
}
.list-of-offers{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.list-of-offers li{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px
}
.service-item{
    border-bottom: 6px solid;
    border-bottom-color: #333333 ;
}
.projects-link-title{
    width: 117px;
    height: 42px ;
    background: #333333 ;
    color: white;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    left: 13px;
    top: 15px;
}
.title-with-separator:after{
    display: block;
    width: 60px;
    height: 3px;
    background-color: orange;
}
.section-featured-on-bg{
    height: 475px;
    background-image: url("image/Layer 21 1.png");
    /*background-attachment: fixed;*/
    position: relative;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;

}
.featured-on-wrapper{

}
.article-item-title:before {
    content: "";
    width: 39px;
    height: 35px;
    background-color: black;
    display: inline-block;
    margin-right: 8px;
}
.article-item-link{
    text-decoration: none;
}
.article-item{
    width: 370px;
    margin-bottom: 31px;
}
.article-item-title{
color: black;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    margin-top: 19px;
    text-align: left;
    display: flex;
    align-items: center;
    font-family: Montserrat sans-serif;
}
.article-item-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: black;
    border-bottom: 1px solid #C1C1C1;
;
}
.article-items-column{
    display: flex;
    flex-direction: column;
}
.article-items-main{
    display: flex;
    justify-content: space-between;

}
.article-item-meta{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    color: #828282;

}
.photos-list-item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photos-list-item button {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #111111;
    background-color: transparent;
    padding: 14px 40px;
    margin-right: 14px;
    transition: all 0.6s ;
}
.photos-list-item li:last-child button {
    margin-right: 0;
}
.photos-list-item button.selected{
    background-color: #333333;
color: #F1AD1D;

}
.photos-list-item button:hover {
    background-color: #333333;
    color: #F1AD1D;
    cursor: pointer;
}
.photo-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}
.photo-title:after{
    margin-top: 25px;
    margin-bottom: 28px;
}
.photo-title-description{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.photo-item-image{
    object-fit: cover;


}
.photo-hover-item{
    border: 2px solid black;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: all 1s ;
}
.photo-item{
width: 284px;
    height: 274px;
    position: relative;
    cursor: pointer;
}
.photo-item:hover .photo-hover-item{
    /*display: block;*/
opacity: 1;
}
.photo-item-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 14px;
    margin-top: 44px !important;
}
.subscribe-form{
    display: flex;
    width: 673px;
    height: 67px;
    margin: 0 auto;
}
.text-input{

    width: 100%;
   font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 32px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
}
.text-input::-webkit-input-placeholder,
.text-input::-moz-placeholder
.text-input:-ms-input-placeholder
.text-input:-moz-placeholder{
    color: pink;
    font-style: italic;
    font-size: 18px;
    line-height: 18px;
    color: #747474;
}
.feedback-form-title{
    width: 249px;
    font-size: 18px;
    line-height: 18px;
    padding: 17px 24px;
    font-weight: bold;
    color: white;
    background-color: #333333;
}
.feedback-form-text{
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
}
.feedback-form{
    display: flex;
    flex-wrap: wrap;
}
.feedback-form-input{
    width: 274px;
    box-sizing: border-box;
    margin-bottom: 19px;
}
.feedback-form-input:first-child{
    margin-right: 25px;
}
.feedback-container{
    display: flex;
}
.feedback-form-wrapper{
    width: 574px;
}
.text-input{
    resize: none;
}
.sing-up-form{

}