@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    text-decoration: none;
}

.text {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.text-blue {
    color: deepskyblue;
}

.header {
    background-color: #35444F;
    font-family: 'Roboto', sans-serif;
    /*text-decoration: none;*/
}

.header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    border: 1px solid;
}

.header-menu-text {
    display: block;
    border-left: 1px solid white;
    padding: 26px 35px 19px 35px;
}

.header-menu-text-empty {
    padding: 36px 81px 36px 81px;
}

.header-menu-text-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.header-menu-text:nth-child(5) {
    padding: 26px 131px 19px 35px;
}

.header-menu-text:hover {
    background-color: #222F3A;
}

.main-section {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.aside-menu {
    min-width: 344px;
    border: 1px solid #DBDBDB;
    height: 100%;
}

.aside-list-item {
    padding: 27px 38px;
}

.aside-list-item:hover {
    background-color: #DBDBDB;
}

.aside-list-item:hover .aside-list-item-link {
    margin-left: 10px;
    color: black;
    font-weight: bold;
}

.aside-list-item-link {
    text-decoration: none;
    color: #495863;
}
.article-wrapper{
    margin-left: 52px;
}
.image-wrapper{
    border: 1px solid #DBDBDB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 530px;
}
.article-text{
    margin: 35px 0;
    line-height: 24px;
    font-size: 18px;
}
.image{
    transition: 1s ease;
}
.image:hover{
    transform: scale(1.2);
}
.footer{
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
    justify-content: space-between;
    display: flex;
}
.footer-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.footer-list-text{
    padding: 20px;
}
.footer-list-text-link{
    text-decoration: none;
    color: black;
    font-size: 28px;
    line-height: 28px;
    font-family: Roboto, sans-serif;
}
.footer-list-text-link:hover{
    border-bottom: 2px solid #3181A6;
    color: #3181A6;
    padding-bottom: 5px;
}
.footer-text{
    padding: 19px;
    margin: 0;
    font-size: 24px;
    text-decoration: none;
    color: black;
    line-height: 28px;
    font-family: Roboto, sans-serif;
}

