@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;;
}

.logo-wrapper {
    display: flex;
    text-decoration: none;
}

.nav-list {
    display: flex;
}

.nav-list-text {
    margin-right: 35px;
}

.nav-list > .nav-list-text:last-child {
    margin-right: 0;
}

.nav-list-link {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
}
.nav-list-link:hover{
    color : #14B9D5;
}


.logo-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo-wrapper{
    padding-left: 27px;
}
.image-wrapper {
    height: 27px;
    padding-right: 27px;
}

.search-button{
    padding: 27px;
    border: none;
    outline: none;
    background-color: black;
}
.fa-search{
    color: white;
}
.header-image{
   background-image: url("img/header-background.png");
    padding: 164px 0 65px 0;

    /*background-position: center -500px;*/
}
.title-wrapper{

}
.header-background-text{
    color: white;
    font-weight: bold;
    text-align: center;


}
.btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 44px;
}
.btn{
    background-color: #89CA62;
    color: white;
    padding: 17px 19px;
    border-radius: 5px ;
    border: 0;
    font-size: 18px;
    line-height: 25px;
}
.btn-blue{
    background-color: #14B9D5;
    margin-left: 20px;
    padding: 16px 29px 17px 30px;
}
.main-text{
    display: flex;
    justify-content: center;
    padding-top: 49px;

}
.section-names{
    color:#18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    text-align: center;
    padding: 49px 0 52px 0;
}
.img-container{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}
.img-column{
    display: flex;
    flex-direction: column;

}
.img-column:not(:last-child){
    margin-right: 30px;
}
.popular-post-img-wrapper{
    padding-bottom: 30px;
}
.popular-post-text{
    padding: 20px 0 22px 0;
    background-color: white;
    text-align: center;
    font-weight: bold;
}
.most-popular{
    background-color:#F2F2F2;
}
.clients-container{
    margin: 0 auto;


}
.clients-background{
    background-image: url("img/clients.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;


}
.clients-text{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
   text-align: center;
    padding-top: 106px;
    padding-bottom: 87px;
    font-size: 32px;
    line-height: 44px;
}
.section-separator{
    width: 60px;
    height: 3px;
    background: #18B4CF;


}
.clients-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    margin: auto;
    justify-items:center ;
    justify-content: center;
    align-items: center;
    padding-top: 107px;
    padding-bottom: 192px;
}
.clients-images-item{
    /*padding-right: 60px;*/
}
.top-rated-images{
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    justify-items: center;
    align-items: center;
}
.top-rated-images-item{
    display: block;
    width: 100%;
    height: 100%;
}
.hot-news-content {
    display: grid;
    grid-template-areas:
"item1 item1 item1 item2"
"item3 item3 item4 item4"
"item5 item5 item6 item6"
"item7 item8 item8 item8";
    grid-gap: 30px 35px;
}

.hot-news-bold-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-bottom: 15px;
    margin-right: 14px;
}

.hot-news-box-right {
    text-align: right;
    background-color: #F9F7F7;
    padding-top: 41px;
    padding-right: 24px;
    width: 100%;
}

.hot-news-regular-text {
    font-size: 14px;
    line-height: 21px;


}

.hot-news-box-bottom {
    background-color: #F9F7F7;
    width: 277px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hot-news-box-bottom-description-text {
    text-align: right;
    background-color: #F9F7F7;
    font-size: 14px;

}

.bottom-description-regular-text {
    margin: 15px 14px 0 14px;
    font-size: 14px;
    line-height: 21px;

}

.hot-image {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.item1 > div {
    flex: 1;
}

.item8 > div {
    flex: 1;
}

.item1 {
    grid-area: item1;
    display: flex;

}

.item2 {
    grid-area: item2;

}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
    display: flex;
}

.hot-news-content-box {
    text-decoration: none;
    color: #353A3D;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    background-color: black;
    margin-top: 77px;
}
.footer-text{
    color: white;
    font-size: 13px;
    line-height: 13px;
    margin-left: 367px;

}
.footer-logo{
    margin-right: 357px;
}
.hot-image{
    width: 100%;
}
.padding-top{
    padding-top: 14px;
}

