.modal {
  &__wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(10px);
    z-index: 1;
  }



  &__body{
    max-width: 500px;
    margin: auto;
    background-color: #DF4A32;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;




  }
  &__header-wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  &__close{
    text-align: right;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: lighter;
  }
  &__body h2{
    color: white;
    text-align: left;
  }
  &__body p{
    color: white;
    text-align: center;
  }
  &__btn-wrapper{
    display: flex;
    justify-content: center;
  }
  &__btn {
    cursor: pointer;
    background-color: #B23B28;
    border: 1px solid transparent;
    border-radius: 3px;
    color: white;
    width: 60px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

  }
}
.modal__wrapper.open {
  height: 100%;
  display: block;
}

.modal__wrapper.close {
  height: 0;
  display: none;

}