@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.hero{
    margin: 0 auto;

}
.hero-list {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin: 25px 0;
}

.hero-list-item {
    list-style: none;
    margin-right: 72px;
}

.hero-list-item:nth-child(3) {
    margin-right: 50px;
}

.hero-list-item:nth-child(4) {
    margin-right: 0;
}

.list-link {
    color: red;
    text-decoration: none;
    font-family: Montserrat,sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: bold;
}
.img{
    margin: 0 auto;
}
.image{
    width: 100%;
}
.main-content{
    font-family: Montserrat, sans-serif;
}
.main-content-heading{
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;
}
.main-content-text{
    text-align: center;
    color: #373737;
    padding: 0 77px;
    line-height: 26px;
    font-family: Montserrat, sans-serif;
}
.btn{
    margin: 0 auto;
    background-color: red;
    color: white;
    border-radius: 4px;
    display: block;
    padding: 18px 43px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}
.button{
    margin-top: 66px;
    margin-bottom: 99px;
}
.footer{
    padding: 0 100px;

}
.footer-text{
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-right: 105px;
    margin-bottom: 29px;
    text-align: right;
}
