.footer {
  background-color: black;
  text-align: center;

  &_title {
    color: #FEFEFE;
    padding-top: 66px;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &_description {
    //font-size: 16px;
    line-height: 28px;
    color: #B9B9B9;
    padding: 22px 250px;
  }

  &_item {
    text-decoration: none;
  }

  &_contacts {
    font-size: 16px;
    line-height: 26px;
    color: #B9B9B9;
    padding: 34px 0 70px 0;
  }
}
