
.nav {
  margin: 50px 0;
position: relative;

  &__list {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
  }

  &__link {
    color: $main-text-color;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 22px;
    text-decoration: none;


    &:hover {
      color: #57A4A4;
    }
  }
}
.big-img {
  width: 100%;
  object-fit: cover;
}