.instagram {
  &-section {
    background-color: #F7F7F7;
    width: 100%;
    margin-top: 69px;
  }

  &__texts {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  &__link {
    font-size: 13px;
    line-height: 22px;
    color: #4E4E4E;
    padding: 52px 0 24px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  &__img-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 9px;
    margin-bottom: 50px;
  }
  &__img{
    width: 100%;
    object-fit: cover;
  }
}