
.post-wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 24px 32px;
  //justify-content: space-around;
  //gap: 20px;
}
.post-wrapper_item{
  display: flex;
}
.post-text{
  margin-left: 20px;

}
.post-text_title{
  color: $main-text-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
.post-text_comments{
  font-size: 12px;
  line-height: 20px;
  color: #7C7C7C;
}
.post-text_description{
  font-size: 14px;
  line-height: 26px;
  color: #5C5C5C;
  margin-top: 13px;
}
