.burger-btn{
  right: 0;
  top: -37px;
  position: absolute;
  width: 44px;
  height: 37px;
  background-color: black;
  box-shadow: none;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 22px;
  //opacity: 0;
}
.burger-btn span{
  position: absolute;
  height: 2px;
  width: 17px;
  background-color: white;
}
.burger-btn span::before, .burger-btn span::after{
  position: absolute;
  height: 2px;
  width: 17px;
  background-color: white;
  content: "";
  left: 0;
}
.burger-btn span::before{
  top: -5px;
}
.burger-btn span::after{
  bottom: -5px;
}
.burger-btn-line.is-active span{
  background: none;
}
.burger-btn-line span::before, .burger-btn-line span::after{
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.burger-btn-line span::before{
  transition-property: top, transform;
}
.burger-btn-line span::after{
  transition-property: bottom, transform;
}
.burger-btn-line.is-active span::before{
  top: 0;
  transform: rotate(-45deg);
}
.burger-btn-line.is-active span::after{
  bottom: 0;
  transform: rotate(45deg);
}
.burger-btn-line.is-active span::before, .burger-btn-line.is-active span::after{
  transition-delay: 0s, 0.3s;
}
.burger-btn-wrapper{
  position: relative;

}