.burger-menu{
  display: none;
  flex-direction: column;
  text-align: left;
  background-color:  #F5F5F5;
  width: 182px;
  position: absolute;
  top: 0;
  right: 0;
  &__item {
    padding-left: 14px;
    font-size: 11px;
    line-height: 30px;
    letter-spacing: 1.1px;
    text-transform: uppercase;

    &:hover {
      background-color:  #E5E5E5;

    }
  }
  &__link {
    text-decoration: none;
    color:  #4E4E4E;
    &--active {
      color:  #57A4A4;
    }
  }
}


