@media (max-width: 767px) {

  .container {
    padding: 0 32px;
  }
  .hidden {
    display: none;
  }
  .post-wrapper_item {
    display: block;
  }
  .post-text {
    display: block;
    margin-left: 0;
  }
  .post-text_description {
    display: none;
  }
  .instagram-section {
    background-color: white;
  }
  .instagram__link {
    display: none;
  }
  .post1 {
    width: 301px;
  }
  .post2, .post3 {
    display: none;
  }
  .burger-btn-wrapper {
    display: block;
  }
  .nav__list {
    display: none;
  }

  .burger-btn {
    display: flex!important;
  }
  .burger-menu{
    display: none!important;
    opacity: 0;!important
    visibility: hidden!important;
    transition: 1s ease-in-out!important;
  }

  .visible{
    display: block!important;
    opacity: 1!important;
    visibility: visible!important;

  }
}
