@media (max-width: 1190px) {
  .container{
   padding: 0 80px
  }
  .post-wrapper {
    grid-template-columns: 1fr;
  }
  .post-wrapper_item{
    padding-right: 100px;
  }
  .instagram__img-box{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 9px;
  }
  .post4{
    display: none;
  }
  .footer_description{
    padding: 22px 50px;
  }
}